#App {
  position: relative;
  width: 100%;
  min-width: 500px;
  min-height: 280px;
  padding-top: 56%;
  clear: both;
  background-image: url(../assets/wood.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

#game {
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
  height: 85%;
}

/* Shared CSS */

.shadowBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5) inset;
  pointer-events: none;
}

.blocksUp {
  position: absolute;
  top: 0;
  height: 45%;
  width: 100%;
}

.blocksDown {
  position: absolute;
  bottom: 0;
  height: 45%;
  width: 100%;
}

.pointContainer {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.pointContainerDown {
  flex-flow: column-reverse;
}
