
#board {
    background-image: url(../../assets/wood.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

#leftSide {
    position: absolute;
    top: 2%;
    left: 3%;
    bottom: 2%;
    width: 38.5%;
    display: block;
    background-image: url(../../assets/fabric.jpg);
}

#rightSide {
    position: absolute;
    top: 2%;
    left: 48%;
    bottom: 2%;
    width: 38.5%;
    display: block;
    background-image: url(../../assets/fabric.jpg);
}