#outSide {
    position: absolute;
    top: 2%;
    left: 92%;
    bottom: 2%;
    width: 4.5%;
    display: block;
    background-image: url(../../assets/fabric.jpg);
  }
  
  .undoButton {
    position: absolute;
    top: 45%;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .undoButton button {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 1.22vw;
    font-weight: bold;
  }

  .undoEnabled {
    cursor: not-allowed;
  }