#modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-disabled {
    display: none;
}

#modal-content {
    margin: 5% auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.644);
    border-radius: 4%;
}

#modal-header {
    font-size: 3vw;
}

#modal-body {
    margin: 10% 5%;
    text-align: center;
    font-size: 5vw;
}

#modal-body img{
    width: 100%;
    margin: 0;
}

#modal-footer {
    text-align: right;
}

#modal-footer button {
    font-size: 3vw;
}