:root {
    --pieceFlatP1: rgb(211, 211, 211);
    --pieceFlatP1Detail: rgb(88, 88, 88);
    --pieceFlatP2: rgb(53, 53, 53);
    --pieceFlatP2Detail: rgb(161, 161, 161);
}

div.pieceFlat {
    position: relative;
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 15% 15% 50% 50%;
    box-shadow: -2px -2px 5px 2px rgba(0, 0, 0, 0.5) inset, 2px 2px 5px 3px rgba(255, 255, 255, 0.3) inset;
  }
  
  .pieceContainerDown div.pieceFlat {
    border-radius: 50% 50% 15% 15%;
  }
  
  div.pieceFlat:before {
    content: "";
    padding-top: 36%;
    display: block;
  }
  
  div.pieceFlatP1 {
    background: linear-gradient(to bottom, var(--pieceFlatP1) 0%, var(--pieceFlatP1) 65%, var(--pieceFlatP1Detail) 70%, var(--pieceFlatP1) 75%, var(--pieceFlatP1) 80%, var(--pieceFlatP1Detail) 85%, var(--pieceFlatP1) 90%, var(--pieceFlatP1) 100%);
  }
  
  div.pieceFlatP2 {
    background: linear-gradient(to top, var(--pieceFlatP2) 0%, var(--pieceFlatP2) 65%, var(--pieceFlatP2Detail) 70%, var(--pieceFlatP2) 75%, var(--pieceFlatP2) 80%, var(--pieceFlatP2Detail) 85%, var(--pieceFlatP2) 90%, var(--pieceFlatP2) 100%);
  }
  
  @media screen and (max-width: 800px) {
    div.pieceFlat {
      box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.5) inset, 1px 1px 1px 1px rgba(255, 255, 255, 0.0) inset;
    }
  }